<section class="inspo">
    <div class="container">
        <div class="row row-cols-6">

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

            <div class="col">
                <div class="img-holder">
                    <img src="/images/inspo.jpg">
                </div>
            </div>

        </div>
    </div>
</section>