<section class="map">
    <div class="container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8124.7881933711715!2d13.515054434088945!3d59.39642488394309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465cb1592c17b98b%3A0x74113c65f48decb!2sBlomsterlandet%20Karlstad%20Rud!5e0!3m2!1ssv!2sse!4v1684838673083!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>