<div class="container mt-4">
	<a class="btn-white" asp-controller="products" asp-action="list">SEE THE PRODUCT LIST</a>
	<a class="btn-white" asp-controller="products" asp-action="register">REGISTER A PRODUCT</a>
	<a class="btn-white" asp-controller="admin" asp-action="index">ADMIN PAGE</a>
</div>