
<div class="container" >
	<a class="btn-theme" asp-controller="products" asp-action="list">SEE THE PRODUCT LIST</a>
	<a class="btn-theme" asp-controller="products" asp-action="register">ADD A PRODUCT</a>
	<a class="btn-theme" asp-controller="admin" asp-action="index">ADMIN PAGE</a>
</div>