@model SpotlightViewModel

<section class="sptolight">
    <div class="container">

        @if (Model.SpotlightItem != null)
        {
            <div class="row row-cols-3">

                @foreach (var Item in Model.SpotlightItem)
                {
                    <partial name="/Views/Partials/_SpotlightItem.cshtml" model="Item" />
                }
            </div>
        }
    </div>
</section>