<section class="subscribeform">
    <div class="container">
        <form class="content" onsubmit="validateSubscribe(event)" novalidate>
            <input type="text" onkeyup="validateInput(event)" id="subscribe-email" placeholder="Enter your mail here" />
            <button class="btn-theme" type="submit">SUBSCRIBE FOR NEWSLETTER</button>
            <span id="subscribe-email-span" class="error-text"></span>
            <div id="subscribe-email-error" class="error-text"></div>
        </form>
    </div>
</section>
