﻿<div class="container mt-4">
	<a class="btn-white" asp-controller="users" asp-action="index">SEE THE USER LIST</a>
	<a class="btn-white" asp-controller="users" asp-action="register">REGISTER A USER</a>
	<a class="btn-white" asp-controller="admin" asp-action="index">ADMIN PAGE</a>
</div>