﻿<div class="container mt-20 d-grid justify-content-center" style="text-align: center">
	<h1 class="font-roboto">Back-Office</h1>
	<p class="mt-3 mb-0 font-roboto"></p>

	<div class="container mt-4">
		<p class="font-roboto mb-4 fw-medium">User management:</p>
		<a class="btn-theme" asp-controller="users" asp-action="index"><i class="fa-solid fa-list"></i>  USER LIST</a>
		<a class="btn-theme" asp-controller="users" asp-action="register"><i class="fa-sharp fa-solid fa-plus-large"></i>  REGISTER A USER</a>
	</div>
	<div class="container mt-4">
		<p class="font-roboto mb-4 fw-medium">Product management:</p>
        <a class="btn-theme" asp-controller="products" asp-action="list"><i class="fa-solid fa-list"></i>  PRODUCT LIST</a>
		<a class="btn-theme" asp-controller="products" asp-action="register"><i class="fa-sharp fa-solid fa-plus-large"></i>  REGISTER A PRODUCT</a>
	</div>
</div>>